<div>
    <md-toolbar color="primary">
        <div fxLayout="row" style="width:100%;" fxLayoutAlign="space-between stretch">
            <div fxFlex="0 0 10%">Budget List</div>
            <div fxFlex="0 0 4%" fxFlex.xs="0 0 20%">
                <md-icon class="total-icon">euro_symbol</md-icon><span>{{toolbarTotal}}</span>    
            </div>
        </div>
    </md-toolbar>
</div>

<div class="contentContainer">
    <app-item-card-list (itemTotalEmitter)="updateToolbarTotal($event)"></app-item-card-list>
</div>



