/* Other material themes
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '~dragula/dist/dragula.min.css';

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
